In [1]:
import pandas as pd

In [5]:
df = pd.read_parquet('/home/jetson/lerobot/data/dual_camera_recordings_2/data/chunk-000/episode_000000.parquet')

In [7]:
df[100:]

,action,observation.state,timestamp,frame_index,episode_index,index,task_index
100,"[122.0, 90.0, 90.0, 90.0, 90.0, 90.0]","[118.0, 90.0, 90.0, 90.0, 90.0, 90.0]",10.000000,100,0,100,0
101,"[124.0, 90.0, 90.0, 90.0, 90.0, 90.0]","[118.0, 90.0, 90.0, 90.0, 90.0, 90.0]",10.100000,101,0,101,0
102,"[126.0, 90.0, 90.0, 90.0, 90.0, 90.0]","[90.0, 90.0, 90.0, 90.0, 90.0, 90.0]",10.200000,102,0,102,0
103,"[126.0, 90.0, 90.0, 90.0, 90.0, 90.0]","[120.0, 90.0, 90.0, 90.0, 90.0, 90.0]",10.300000,103,0,103,0
104,"[128.0, 90.0, 90.0, 90.0, 90.0, 90.0]","[122.0, 90.0, 90.0, 90.0, 90.0, 90.0]",10.400000,104,0,104,0
...,...,...,...,...,...,...,...
595,"[64.0, 88.0, 46.0, 72.0, 90.0, 90.0]","[90.0, 90.0, 90.0, 90.0, 90.0, 90.0]",59.500000,595,0,595,0
596,"[64.0, 88.0, 46.0, 72.0, 90.0, 90.0]","[64.0, 88.0, 46.0, 72.0, 90.0, 90.0]",59.599998,596,0,596,0
597,"[64.0, 88.0, 46.0, 72.0, 90.0, 90.0]","[64.0, 88.0, 46.0, 72.0, 90.0, 90.0]",59.700001,597,0,597,0
598,"[64.0, 88.0, 46.0, 72.0, 90.0, 90.0]","[64.0, 88.0, 46.0, 72.0, 90.0, 90.0]",59.799999,598,0,598,0
599,"[64.0, 88.0, 46.0, 72.0, 90.0, 90.0]","[64.0, 88.0, 46.0, 72.0, 90.0, 90.0]",59.900002,599,0,599,0